.App {
  max-width: 860px;
  margin: 40px auto;
}
button {
  background: none;
  border: 2px solid var(--deco-color01);
  padding: 12px 20px;
  border-radius: 16px;
  color: var(--deco-color01);
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
}
button:hover {
  background: var(--btn-color01);
  color: var(--deco-color01);
}
.card-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}