@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* COLOR VARIABLES */
:root {
  --bg-color01: #1b1523;
  --txt-color01: #fff;
  --deco-color01: #fff;
  --btn-color01: #c23866;
}

body {
  font-family: Raleway, sans-serif;
  margin: 0;
  font-size: 1.5em;
  text-align: center;
  background: var(--bg-color01);
  color: var(--txt-color01);
}
